<footer class="footer">
  <small>
    Home Server by 
    <a href="http://www.facebok.com/modi.rajdeep">Rajdeep Modi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>